.auteur {
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  color: white;

  display: flex;
  justify-content: center;   /* garde le centrage horizontal */
  align-items: flex-start;   /* aligne en haut */

  padding-top: 120px;        /* espace sous la navbar */

  /* ===== IMAGE DE FOND ===== */
  background-image: url("../assets/images/backAuteur.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}


/* Overlay sombre */
.auteur::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}
